<div>
  <button class="remove_div">Remove mapping</button>
  <p>Data to filter:
	<select>
	  <%= render :partial => "field_optgroup",
	             :locals => { :name => "Facility",
	                          :fields => facility_fields,
	                          :consider => filter[2] == "facility",
	                          :selected => filter[1] } %>
	  <%= render :partial => "field_optgroup",
	             :locals => { :name => "Fridge",
	                          :fields => fridge_fields,
	                          :consider => filter[2] == "fridge",
	                          :selected => filter[1] } %>
	  <%= render :partial => "field_optgroup",
	             :locals => { :name => "Schedule",
	                          :fields => schedule_fields,
	                          :consider => filter[2] == "schedule",
	                          :selected => filter[1] } %>
  	</select>
	 OR 
	<input type="text" class="filter" value="<%= filter[0] %>" />
  </p>
  <p>Name of filter:
	<input type="text" class="filter_name" value="<%= name %>" />
  </p>
  <table class="filtering">
	<thead>
	  <tr>
		<th>Condition</th>
		<th>Name</th>
	  </tr>
	</thead>
	<tbody>
	  <% conds.each do |c| %>
	  <% if c[1] != "All" %>
	  <tr>
		<td><input type="text" value="<%= c[0] %>" /></td>
		<td><input type="text" value="<%= c[1] %>" /></td>
		<td>
		  <button class="remove_row">Remove</button>
		</td>
	  </tr>
	  <% end %>
	  <% end %>
	</tbody>
  </table>
  <input type="button" onclick="addFilterCondition(this)" value="Add condition" />
</div>
