<div>
  <a href="javascript://" class="button_link remove_div navigation">Remove mapping</a>
  <p>Name of map display:
	<input type="text" class="map_name" value="<%= name %>" />
  </p>
  <p>Data to map:
	<select>
	  <%= render :partial => "field_optgroup",
	             :locals => { :name => "Facility",
	                          :fields => facility_fields,
	                          :consider => mapper[2] == "facility",
	                          :selected => mapper[1] } %>
	  <%= render :partial => "field_optgroup",
	             :locals => { :name => "Fridge",
	                          :fields => fridge_fields,
	                          :consider => mapper[2] == "fridge",
	                          :selected => mapper[1] } %>
	  <%= render :partial => "field_optgroup",
	             :locals => { :name => "Schedule",
	                          :fields => schedule_fields,
	                          :consider => mapper[2] == "schedule",
	                          :selected => mapper[1] } %>
  	</select>
	 OR 
	<input type="text" class="mapper wide-field" value="<%= mapper[0] %>" />
  </p>
  <table class="mapping">
	<thead>
	  <tr>
		<th>Condition</th>
		<th>Name</th>
		<th>Color</th>
	  </tr>
	</thead>
	<tbody>
	  <% conds.each do |c| %>
	  <tr>
		<td><input type="text" class="wide-field" value="<%= c[0] %>" /></td>
		<td><input type="text" value="<%= c[1] %>" /></td>
		<td>
		  <select>
			<% colors.each do |col| %>
			<option value="<%= col %>" <% if col == c[2] %>selected="selected"<% end %> ><%= col %></option>
			<% end %>
		  </select>
		</td>
		<td>
		  <a href="javascript://" class="button_link remove_row">Remove</a>
		</td>
	  </tr>
	  <% end %>
	</tbody>
  </table>
  <%= link_to_function "Add condition", "addMapCondition(this)", :class => "button_link" %>
</div>
