<head>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <script type="text/javascript"
		  src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
  <%= javascript_include_tag "utility" %>
  <%= javascript_include_tag "map2" %>
  <%= csrf_meta_tags %>
  <title>Malawi Vaccine Cold Chain</title>
</head>

<body>
    <div id="content">
        <div id="header">Vaccine Cold Chain Visualization</div>
        <span id="nav-bar">
		  <table>
			<%= link_to_function "Display", "displayMap(#{@facilities}, #{@fridges}, #{@schedules}, #{@user_options}, #{@fields})" %>
			<tr>
			  <td>
				Category:
			  </td>
			  <td>
				<select id="category_mapper" name="category" onchange="mapData(this)">
				  <% @maps.each do |m| %>
				  <option value="<%= m.data[0] %>"><%= m.data[0] %></option>
				  <% end %>
				</select>
			  </td>
			</tr>
			<% @filters.each do |f| %>
			<tr>
			  <td>
				<%= f.data[0] %>
			  </td>
			  <td>
				<select name="<%= f.data[0] %>" onchange="applyFilter(this)">
				  <% f.data[2..-1].each do |c| %>
				  <option value="<%= c[1] %>"><%= c[1] %></option>
				  <% end %>
				</select>
			  </td>
			</tr>
			<% end %>
			<tr>
			  <td>
				Schedule
			  </td>
			  <td>
				<select id="schedule_chooser" name="schedule" onchange="mapSchedule(this)">
				  <% @options.schedule_options.file_readable_names.each do |k,v| %>
				  <option value="<%= k %>"><%= v %></option>
				  <% end %>
				</select>
			  </td>
			</tr>
		  </table>
		</span>
		<span id="map-canvas"></span>
        <div id="footer"></div>
    </div>
</body>
