<head>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <script type="text/javascript"
		  src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
  <%= javascript_include_tag "utility" %>
  <%= javascript_include_tag "map2" %>
  <%= csrf_meta_tags %>
  <title>CCEM Geographic Visualization</title>
</head>

<body>
    <div id="content">
        <div id="header"><h1>CCEM Geographic Visualization</h1>
		  <a href="/?id=<%= @id %>" class="button_link navigation">Setup</a>
		</div>
        <span id="nav-bar">
		  <table>
			<tr>
			  <td><h4>Mappings</h4></td>
			</tr>
			<tr>
			  <td>
				Category:
			  </td>
			  <td>
				<select id="category_mapper" name="category" onchange="mapData(this)">
				  <optgroup label="Maps">
					<% @maps.each do |m| %>
					<option value="<%= m.data[0] %>"><%= m.data[0] %></option>
					<% end %>
				  </optgroup>
				  <optgroup label="Pies">
					<% @pies.each do |p| %>
					<option value="<%= p.data[0] %>"><%= p.data[0] %></option>
					<% end %>
				  </optgroup>
				</select>
			  </td>
			</tr>
			<tr>
			  <td><h4>Filters</h4></td>
			</tr>
			<% @filters.each do |f| %>
			<tr>
			  <td>
				<%= f.data[0] %>
			  </td>
			  <td>
				<select name="<%= f.data[0] %>" onchange="applyFilter(this)">
				  <% f.data[2..-1].each do |c| %>
				  <option value="<%= c[1] %>"><%= c[1] %></option>
				  <% end %>
				</select>
			  </td>
			</tr>
			<% end %>
			<tr>
			  <td><h4>Schedules</h4></td>
			</tr>
			<tr>
			  <td>
				Schedule
			  </td>
			  <td>
				<select id="schedule_chooser" name="schedule" onchange="mapSchedule(this)">
				  <% @options.schedule_options.file_readable_names.each do |k,v| %>
				  <option value="<%= k %>"><%= v %></option>
				  <% end %>
				</select>
			  </td>
			</tr>
			<tr>
			  <td>
				<%= link_to_function "Ignore/consider population", "toggleSize()", :class => "button_link" %>
			  </td>
		  </table>
		</span>
		<span id="map-canvas"></span>
        <div id="footer">
		</div>
    </div>
	<div id="overlay">
	  <p>Facilities: <span id="facility_status">Loading...</span></p>
	  <p>Refrigerators: <span id="fridge_status">Loading...</span></p>
	  <p>Schedules: <span id="schedule_status">Loading...</span></p>
	  <p><span id="status_done"><%= link_to_function "Display", "displayMap(#{@user_options}, #{@fields})", :class => "button_link" %></span></p>
	</div>
</body>
